<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:macro name="cliff_sensor" params="name *origin visualize:=false">

  <xacro:include filename="$(find ca_description)/urdf/common_properties.xacro"/>
  <xacro:include filename="$(find ca_description)/urdf/sensors/cliff_sensors_gazebo.xacro"/>

  <xacro:property name="parent_link" value="base_link"/>

  <joint name="${name}_cliff_sensor_joint" type="fixed">
    <xacro:insert_block name="origin" />
    <parent link="${parent_link}" />
    <child link="${name}_cliff_sensor_link" />
  </joint>

  <link name="${name}_cliff_sensor_link" />

  <xacro:cliff_plugin visualize="${visualize}" name="${name}"/>

</xacro:macro>

</robot>
