<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find ca_description)/urdf/sensors/laser_sensor_gazebo.xacro"/>

  <xacro:macro name="laser_sensor" params="parent visualize:=false">

    <xacro:property name="parent_link" value="${parent}"/>
    <xacro:property name="laser_link" value="laser_link"/>

    <xacro:property name="x" value="0.0"/>
    <xacro:property name="y" value="0.0"/>
    <xacro:property name="z" value="0.1308"/>
    <xacro:property name="R" value="0.0"/>
    <xacro:property name="P" value="0.0"/>
    <xacro:property name="Y" value="${pi}"/>

    <joint name="laser_joint" type="fixed">
      <origin xyz="${x} ${y} ${z}" rpy="${R} ${P} ${Y}" />
      <parent link="${parent_link}" />
      <child link="${laser_link}" />
    </joint>
    <link name="${laser_link}"/>

    <!-- Gazebo plugin -->
    <xacro:laser_sensor_gazebo link_name="${laser_link}" visualize="$(arg visualize)"/>

  </xacro:macro>

</robot>
