<?xml version="1.0" ?>
<model>
    <name>two_floors_house</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Johannes Simon and Stefan Kohlbrecher</name>
    </author>
    <description>http://wiki.ros.org/hector_nist_arenas_gazebo</description>
</model>
