<?xml version="1.0" ?>
<model>
    <name>Warehouse</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Koppany Indotek</name>
    </author>
    <description>Warehouse environment for Gazebo.
        https://sketchfab.com/Koppany.Indotek
        This work is based on B13 Raw Export V5 by Sketchfab licensed under CC BY 4.0.
    </description>
</model>