.vscode/
*.pyc
*.code-workspace
# If you want to exclude packages from being compiled,
# you have to add an empty CATKIN_IGNORE inside the package
# http://wiki.ros.org/catkin/workspaces#Catkin_Workspaces
CATKIN_IGNORE
