<launch>
  <arg name="ns"/>

  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <rosparam file="$(find ca_move_base)/config/amcl_params.yaml" command="load"/>
    <!-- We want a single map for multi-robots -->
    <remap from="map" to="/map" />
    <remap from="static_map" to="/static_map"/>

    <remap from="scan" to="laser/scan"/>
    <param name="odom_frame_id" value="$(arg ns)_tf/odom"/>
    <param name="base_frame_id" value="$(arg ns)_tf/base_link"/>
    <param name="global_frame_id" value="map"/>
  </node>
  
</launch>
