<launch>
  <arg name="amcl_initial_x"     value="$(optenv AMCL_INITIAL_X 0)" doc="amcl initial pose x"/>
  <arg name="amcl_initial_y"     value="$(optenv AMCL_INITIAL_Y 0)" doc="amcl initial pose y"/>
  <arg name="amcl_initial_a"     value="$(optenv AMCL_INITIAL_A 0)" doc="amcl initial pose a"/>
  <param name="amcl/initial_pose_x" value="$(arg amcl_initial_x)"/>
  <param name="amcl/initial_pose_y" value="$(arg amcl_initial_y)"/>
  <param name="amcl/initial_pose_a" value="$(arg amcl_initial_a)"/>
</launch>