<!-- Since amcl uses odometry but our robot has bad wheel encoder, we subsite the pose estimation in the amcl
by hector mapping pose estimation.
 -->

<launch>
  <arg name="robot_id"  default="$(optenv ID 1)"      doc="Unique identifier of the robot [1-Inf.)"/>
  <arg name="ns"        value="create$(arg robot_id)" doc="Namespace of the robot. By default: create1"/>
  <arg name="tf_prefix" value="$(arg ns)_tf"          doc="Tf prefix"/>

  <arg name="laser" default="$(optenv LASER rplidar)" doc="Laser for mapping the environment"/>

  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <rosparam file="$(find ca_move_base)/config/amcl_params.yaml" command="load"/>
    <!-- We want a single map for multi-robots -->
    <remap from="map" to="/map" />
    <remap from="static_map" to="/static_map"/>

    <remap from="scan" to="$(arg laser)/scan"/>

    <param name="odom_frame_id" value="$(arg tf_prefix)/odom"/>
    <param name="base_frame_id" value="$(arg tf_prefix)/base_footprint"/>
  </node>


    <!-- Hector stuff -->

  <!-- <node pkg="hector_mapping" type="hector_mapping" name="hector_mapping" output="screen">
    <rosparam file="$(find ca_hector)/config/hector_mapping_ireland.yaml" command="load"/>


    <param name="pub_map_odom_transform" value="true"/>


    <!-- Frame names -->
    <param name="base_frame" value="$(arg tf_prefix)/base_link" />
    <param name="odom_frame" value="$(arg tf_prefix)/odom" />

    

    <!-- Advertising config -->
    <param name="scan_topic" value="$(arg laser)/scan"/>

    <!-- Remapping -->
    <remap from="/$(arg ns)/map" to="/map_hector" />
    <remap from="/$(arg ns)/map_metadata" to="/map_metadata_hector"/>
  </node> -->

</launch>
