<launch>
  <arg name="env" doc="Name of the environment that is used to load the map"/>
	<arg name="map_file" value="$(find ca_move_base)/maps/$(arg env).yaml"/>

  <!-- Run the map server node with a predefined map -->
  <group ns="/">
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
      <param name="frame_id" value="map"/>
    </node>
  </group>
</launch>