<launch>
  <arg name="robot_id"  default="$(optenv ID 1)"      doc="Unique identifier of the robot [1-Inf.)"/>
  <arg name="ns"        value="create$(arg robot_id)" doc="Namespace of the robot. By default: create1"/>
  <arg name="tf_prefix" value="$(arg ns)_tf"          doc="Tf prefix"/>

  <arg name="laser" value="$(optenv LASER rplidar)" doc="Laser for mapping the environment"/>

  <arg name="global_planner" value="$(optenv GLOBAL_PLANNER navfn)"/>
  <arg name="local_planner"  value="$(optenv LOCAL_PLANNER dwa)"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find ca_move_base)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find ca_move_base)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find ca_move_base)/config/$(arg global_planner)_global_planner_params.yaml" command="load" />

    <rosparam file="$(find ca_move_base)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find ca_move_base)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find ca_move_base)/config/$(arg local_planner)_local_planner_params.yaml" command="load" />

    <rosparam file="$(find ca_move_base)/config/move_base_params.yaml" command="load" />

    <!-- We want a single map for multi-robots -->
    <remap from="map" to="/map"/>
    <remap from="scan" to="/$(arg ns)/$(arg laser)/scan"/>
    <!-- <remap from="/mobile_base/sensors/bumper_pointcloud"
           to="mobile_base/sensors/bumper_pointcloud"/> -->

    <remap from="odom" to="/$(arg ns)/odom"/>
    <remap from="cmd_vel" to="/$(arg ns)/cmd_vel"/>

    <!-- Remap frames for specific robots -->
    <param name="local_costmap/robot_base_frame" value="$(arg tf_prefix)/base_footprint"/>
    <param name="local_costmap/global_frame" value="$(arg tf_prefix)/odom"/>
    <param name="local_costmap/obstacle_layer/scan/sensor_frame" value="$(arg tf_prefix)/$(arg laser)_link"/>
    <param name="local_costmap/obstacle_layer/scan/topic"  value="/$(arg ns)/$(arg laser)/scan"/>

    <param name="global_costmap/robot_base_frame" value="$(arg tf_prefix)/base_footprint"/>
    <param name="global_costmap/global_frame" value="map"/>
    <param name="global_costmap/static_layer/map_topic"  value="/map"/>
    <param name="global_costmap/obstacle_layer/scan/sensor_frame" value="$(arg tf_prefix)/$(arg laser)_link"/>
    <param name="global_costmap/obstacle_layer/scan/topic" value="/$(arg ns)/$(arg laser)/scan"/>

    <param name="DWAPlannerROS/global_frame_id"  value="$(arg tf_prefix)/odom"/>
  </node>

</launch>
