<launch>
  <arg name="ns"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find ca_move_base)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find ca_move_base)/config/global_costmap_params.yaml" command="load" />
    <!-- <rosparam file="$(find ca_move_base)/config/global_planner_params.yaml" command="load" /> -->
    <rosparam file="$(find ca_move_base)/config/navfn_global_planner_params.yaml" command="load" />

    <rosparam file="$(find ca_move_base)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find ca_move_base)/config/local_costmap_params.yaml" command="load" />
    <!-- <rosparam file="$(find ca_move_base)/config/base_local_planner_params.yaml" command="load" /> -->
    <rosparam file="$(find ca_move_base)/config/dwa_local_planner_params.yaml" command="load" />

    <rosparam file="$(find ca_move_base)/config/move_base_params.yaml" command="load" />

    <!-- We want a single map for multi-robots -->
    <remap from="map" to="/map"/>
    <!-- TODO: WHY WAS THIS HACK NECESSARY? -->
    <remap from="/laser/scan" to="laser/scan"/>
    <remap from="/mobile_base/sensors/bumper_pointcloud" 
           to="mobile_base/sensors/bumper_pointcloud"/>
  </node>

</launch>
