<launch>
	<arg name="rviz" default="true"/>

	<!-- Bumper to point cloud -->
	<include file="$(find ca_bumper2pc)/launch/standalone.launch" />

	<!-- Run the map server with a blank map -->
	<arg name="map_file" default="$(find ca_move_base)/maps/playground.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>

	<!-- move_base -->
	<include file="$(find ca_move_base)/launch/move_base.launch" />

	<!-- AMCL -->
  <include file="$(find ca_move_base)/launch/amcl.launch"/>

	<!-- RViz -->
	<include if="$(arg rviz)" file="$(find ca_tools)/launch/rviz.launch">
    <arg name="config_file" value="$(find ca_move_base)/rviz/navigation.rviz"/>
  </include>

</launch>
