<launch>
  <arg name="robot_name"/>
  <arg name="localization"/>
	<!-- Bumper to point cloud -->
	<include file="$(find ca_bumper2pc)/launch/standalone.launch"/>

	<!-- move_base -->
	<include file="$(find ca_move_base)/launch/move_base.launch">
    <arg name="ns" value="$(arg robot_name)"/>
  </include>

	<!-- AMCL -->
  <include if="$(eval str(arg('localization')) == 'amcl')" file="$(find ca_move_base)/launch/amcl.launch">
    <arg name="ns" value="$(arg robot_name)"/>
  </include>

  <!-- slam_gmapping -->
  <include if="$(eval str(arg('localization')) == 'slam')" file="$(find ca_slam)/launch/slam_gmapping.launch">
    <arg name="ns" value="$(arg robot_name)"/>
  </include>

</launch>
