<?xml version="1.0" ?>
<model>
    <name>Restaurant</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Amy Huang</name>
        <email>https://sketchfab.com/uouoamy</email>
    </author>
    <description>This work is based on Restaurant by Sketchfab licensed under CC BY 4.0.</description>
</model>