<?xml version="1.0"?>

<model>
  <name>create_autorace</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Gilbert</name>
    <email>kkjong@robotis.com</email>
  </author>

  <description>
    Dummy config file to avoid a warning message
  </description>
</model>

