<launch>
  <node pkg="tf2_ros" type="static_transform_publisher" name="world_frame_publisher" args="-5.44146728516 10.5171413422 0 0 0 -0.671352595383 0.741138106342 map world" />

  <!-- publishe access point frame  -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="AP3_frame_publisher" args="0.389 24.576 0 0 0 0 1 world AP3" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="AP0_frame_publisher" args="13.02206184 18.87172248 0 0 0 0 1 world AP0" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="AP1_frame_publisher" args="0.34478976 10.08763032 0 0 0 0 1 world AP1" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="AP2_frame_publisher" args="13.18817784 4.5945552 0 0 0 0 1 world AP2" />
</launch>