<launch>
  <rosparam param="pose" ns="create1">[-3, 4, 0]</rosparam>
  <rosparam param="pose" ns="create2">[5, 1, 1.5708]</rosparam>

  <include file="$(find ca_gazebo)/launch/create_empty_world.launch">
    <arg name="world_file" value="$(find ca_gazebo)/worlds/house.world"/>
  </include>
</launch>