<launch>
  <rosparam param="pose" ns="create1">[-2, 2, 0]</rosparam>
  <rosparam param="pose" ns="create2">[2, -2, 1.5708]</rosparam>

  <include file="$(find ca_gazebo)/launch/create_empty_world.launch">
    <arg name="world_file" value="$(find ca_gazebo)/worlds/playground.world"/>
  </include>
  
</launch>