<launch>
  <rosparam param="pose" ns="create1">[0.245, -1.787, 0]</rosparam>
  <rosparam param="pose" ns="create2">[-1, -1, 0]</rosparam>

	<include file="$(find ca_gazebo)/launch/create_empty_world.launch">
    <arg name="world_file" value="$(find ca_gazebo)/worlds/autorace.world"/>
	</include>
</launch>