<launch>
  <param name="create1/amcl/initial_pose_x" value="-2.5"/>
  <param name="create1/amcl/initial_pose_y" value="3.5"/>
  <param name="create1/amcl/initial_pose_a" value="0"/>


  <include file="$(find ca_gazebo)/launch/create_empty_world.launch">
    <arg name="env" value="house"/>
  </include>
</launch>
