<launch>
  <!-- https://answers.ros.org/question/229489/how-do-i-create-dynamic-launch-files/ -->
  <arg name="nr" default="$(optenv NUM_ROBOTS 1)" doc="Unique identifier of the robot [1-Inf.)"/>
  <arg name="ns" value="create$(arg nr)"          doc="Namespace of the robot. By default: create1"/>

  <arg name="env"  default="empty"                doc="Name of the environment"/>
  <arg name="rviz" default="$(optenv RVIZ false)" doc="Flag to use RViz"/>

  <!-- Start 1 robot -->
  <group ns="$(arg ns)">
    <include file="$(find ca_gazebo)/launch/spawn_create.launch">
      <arg name="env"      value="$(arg env)"/>
      <arg name="robot_id" value="$(arg nr)"/>
    </include>

    <!-- RViz -->
    <include if="$(arg rviz)" file="$(find ca_tools)/launch/rviz.launch"/>
  </group>

  <!-- Recursively spawn more robots -->
  <include file="$(find ca_gazebo)/launch/spawn_multirobot.launch" if="$(eval arg('nr') - 1 > 0)">
    <arg name="env"  value="$(arg env)"/>
    <arg name="nr"   value="$(eval arg('nr') - 1)"/>
    <arg name="rviz" value="false"/>
  </include>
</launch>
