<launch>
  <arg name="i" default="1"/>
  <arg name="robot_name" value="create$(arg i)"/>

  <!-- Create 2 description -->
  <include file="$(find ca_description)/launch/create_description.launch">
    <arg name="robot_name" value="$(arg robot_name)"/>
  </include>

  <!-- Spawn URDF into Gazebo -->
  <node pkg="ca_description" type="robot_spawner.py" name="robot_spawner" output="screen"/>

</launch>
