<launch>
  <arg name="robot_id"  default="$(optenv ID 1)"      doc="Unique identifier of the robot [1-Inf.)"/>
	<arg name="enable_ros_control" value="$(optenv ROS_CONTROL false)" doc="Enable ros_control"/>

  <!-- Create 2 description -->
  <include file="$(find ca_description)/launch/create_description.launch">
    <arg name="robot_id" value="$(arg robot_id)"/>
  </include>

  <!-- Spawn URDF into Gazebo -->
  <node pkg="ca_description" type="robot_spawner.py" name="robot_spawner" output="screen"/>

  <!-- Running Gazebo (non-nodelet) version of depthimage_to_laserscan for 3D cameras -->
  <include file="$(find ca_slam)/launch/depthimage_to_laserscan_gazebo.launch">
    <arg name="robot_id" value="$(arg robot_id)"/>
  </include>

	<include file="$(find create_control)/launch/create_control.launch" if="$(arg enable_ros_control)"/>

</launch>
