<?xml version="1.0"?>
<launch>
  <arg name="model" default="$(find ca_description)/urdf/create_2.xacro"/>

  <arg name="visualize" default="false"/>
  <arg name="rviz" default="false"/>

	<param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model) visualize:=$(arg visualize)" />
  <!-- Robot state publisher-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />

  <node pkg="tf" type="static_transform_publisher" name="base_link_tf" 
    	args="0 0 0.017 0 0 0 base_footprint base_link 50" />

  <!-- RViz -->
  <include if="$(arg rviz)" file="$(find ca_tools)/launch/rviz.launch">
    <arg name="config_file" value="$(find ca_tools)/rviz/robot_description.rviz"/>
  </include>
</launch>
