<launch>
  <arg name="raspicam_receiver_IP" default=""/>

  <include file="$(find ca_node)/launch/create_2.launch"/>

  <!-- raspicam -->
  <include if="$(eval arg('raspicam_receiver_IP') != '')" file="$(find ca_visual_odometry)/launch/raspicam_stream.launch">
    <arg name="IP" value="$(arg raspicam_receiver_IP)"/>
  </include>

  <!-- IMU -->
  <include file="$(find ca_imu)/launch/imu.launch"/>

  <!-- TODO: Add sensors:
  * Intel RealSense R200
  * RPLidar A2
 -->
</launch>
