<launch>
  <arg name="ns"/>

  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <rosparam file="$(find ca_slam)/config/slam_gmapping.yaml" command="load"/>
    <!-- We want a single map for multi-robots -->
    <remap from="map" to="/map" />
    <remap from="map_metadata" to="/map_metadata"/>

    <remap from="scan" to="laser/scan"/>

    <param name="odom_frame" value="$(arg ns)_tf/odom"/>
    <param name="base_frame" value="$(arg ns)_tf/base_footprint"/>
    <param name="map_frame" value="map"/>
  </node>

  <!-- TODO: This should be fixed editting slam_gmapping -->
  <node pkg="tf" type="static_transform_publisher" name="map_static_tf"
        args="0 0 0 0 0 0 map $(arg ns)_tf/map 40"/>
</launch>
